List - stores elements in order
- Syntax []

empty_list = []
empty_list = list()

In [190]:
courses = ['Math','Science','Social','Chemistry','Physics']

In [191]:
print(len(courses))

5

In [192]:
print(courses[0])

Math

In [193]:
print(courses[-2])

Chemistry

In [194]:
print(courses[0:3])

['Math', 'Science', 'Social']

In [195]:
print(courses[:4])

['Math', 'Science', 'Social', 'Chemistry']

In [196]:
print(courses[2:])

['Social', 'Chemistry', 'Physics']

In [197]:
print(courses.index('Social'))

2

In [198]:
print('Math' in courses)

True

In [199]:
courses.append('History')

In [200]:
print(courses)

['Math', 'Science', 'Social', 'Chemistry', 'Physics', 'History']

In [201]:
courses.insert(1,'Telugu')

In [202]:
print(courses)

['Math', 'Telugu', 'Science', 'Social', 'Chemistry', 'Physics', 'History']

In [203]:
courses_2 = ['English','Hindi']
courses_2.insert(0,courses)
print(courses_2)

[['Math', 'Telugu', 'Science', 'Social', 'Chemistry', 'Physics', 'History'], 'English', 'Hindi']

In [204]:
courses_3 = ['English','Hindi']
courses.extend(courses_3)
print(courses)

['Math', 'Telugu', 'Science', 'Social', 'Chemistry', 'Physics', 'History', 'English', 'Hindi']

In [205]:
courses.sort()
print(courses)

['Chemistry', 'English', 'Hindi', 'History', 'Math', 'Physics', 'Science', 'Social', 'Telugu']

In [206]:
courses.sort(reverse=True)
print(courses)

['Telugu', 'Social', 'Science', 'Physics', 'Math', 'History', 'Hindi', 'English', 'Chemistry']

In [207]:
nums = [3,7,2,8,5]
nums.sort()
print(nums)

[2, 3, 5, 7, 8]

In [208]:
nums = [3,7,2,8,5]
nums.sort(reverse=True)
print(nums)

[8, 7, 5, 3, 2]

In [209]:
sorted_courses = sorted(courses)
print(sorted_courses)

['Chemistry', 'English', 'Hindi', 'History', 'Math', 'Physics', 'Science', 'Social', 'Telugu']

In [210]:
print(min(nums))

2

In [211]:
print(max(nums))

8

In [212]:
for item in courses:
    print(item)

Telugu
Social
Science
Physics
Math
History
Hindi
English
Chemistry

In [213]:
for index, course in enumerate(courses):
    print(index, course)

0 Telugu
1 Social
2 Science
3 Physics
4 Math
5 History
6 Hindi
7 English
8 Chemistry

In [214]:
for index, course in enumerate(courses, start=2):
    print(index, course)

2 Telugu
3 Social
4 Science
5 Physics
6 Math
7 History
8 Hindi
9 English
10 Chemistry

In [215]:
courses_str = ', '.join(courses)
print(courses_str)

Telugu, Social, Science, Physics, Math, History, Hindi, English, Chemistry

In [216]:
courses_str2 = ' - '.join(courses)
print(courses_str2)
new_list = courses_str2.split(' - ')
print(new_list)

Telugu - Social - Science - Physics - Math - History - Hindi - English - Chemistry
['Telugu', 'Social', 'Science', 'Physics', 'Math', 'History', 'Hindi', 'English', 'Chemistry']